.content {
    width: 1000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.messages {
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: auto;
}

.form {
    flex: 0 0 200px;
    border: 1px solid black;
}

.messages > div {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.messages > div > div > span {
    margin-right: 10px;
}
